{% extends 'base.html' %}
{% load clientmgmt_tags %}

{% block content %}
    <h3 class="text-center">Project Management</h3>
    <a href="{% url 'create_project' %}"><button class="btn btn-info pull-right custom_btn">Create Project</button></a>
    <a class="pull-right create-client-link" href="{% url 'create_client' %}">Create Client</a>

    <div>
        <p class="pull-left"><b>Client:</b></p>
        <select id="change_client" class="pull-left form-control">
            {% for client in client_list %}
                <option class="{{client_id}}-{{client.id}}" value="{{client.id}}" {% if client_id == client.id %}selected="selected"{% endif %}>
                    {{client}}
                </option>
            {% endfor %}
        </select>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
            <th>Project Name</th>
            <th>Start Date</th>
            <th>Hours Spent</th>
            <th>Cost per Hour</th>
            <th>Total Cost of Project</th>
            <th>Edit</th>
        </thead>

        {% for project in project_list %}
            <tr>
                <td>{{project.name}}</td>
                <td>{{project.start_date}}</td>
                <td>{{project.time_spent}}</td>
                <td>{{project.cost_per_hour}}</td>
                <td>{{project.cost_per_hour|multiply:project.time_spent}}</td>
                <td><a href="{% url 'edit_project' project.id %}" class="glyphicon glyphicon-pencil" alt="Edit"></a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">Project not available for this client.</td>
            </tr>
        {% endfor %}

    </table>
    {% if current_week_project %}
        <div id="chartdiv_current_week" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
    {% endif %}
    {% if current_month_project %}
        <div id="chartdiv_current_month" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
    {% endif %}
    {% if current_year_project %}
        <div id="chartdiv_current_year" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
    {% endif %}

{% endblock %}
    
{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function(){
           $('#change_client').change(function(){
                client_id = $('#change_client').val();
                if (client_id==null) {
                    window.location.href = '/';
                }
                window.location.href = '/'+client_id;
           });
        });
    </script>
    <!-- amCharts javascript sources -->
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>

    {% if current_week_project %}
    <!-- amCharts javascript code -->
    <script type="text/javascript">
        AmCharts.makeChart("chartdiv_current_week",
            {
                "type": "serial",
                "categoryField": "category",
                "startDuration": 1,
                "categoryAxis": {
                    "gridPosition": "start"
                },
                "chartCursor": {},
                "chartScrollbar": {},
                "trendLines": [],
                "graphs": [
                    {
                        "fillAlphas": 1,
                        "id": "AmGraph-1",
                        "title": "graph 1",
                        "type": "column",
                        "valueField": "column-1"
                    }
                ],
                "guides": [],
                "valueAxes": [
                    {
                        "id": "ValueAxis-1",
                        "title": "Cost of the Project"
                    }
                ],
                "allLabels": [],
                "balloon": {},
                "titles": [
                    {
                        "id": "Title-1",
                        "size": 15,
                        "text": "Project's Detail Report - Current Week"
                    }
                ],
                "dataProvider": [
                    {% for project in current_week_project %}
                    {
                        "category": "{{project.name}}",
                        "column-1": {{project.cost_per_hour|multiply:project.time_spent}}
                    },
                    {% endfor %}
                ]
            }
        );
    </script>
    {% endif %}
    
    {% if current_month_project %}
    <!-- amCharts javascript code -->
    <script type="text/javascript">
        AmCharts.makeChart("chartdiv_current_month",
            {
                "type": "serial",
                "categoryField": "category",
                "startDuration": 1,
                "categoryAxis": {
                    "gridPosition": "start"
                },
                "chartCursor": {},
                "chartScrollbar": {},
                "trendLines": [],
                "graphs": [
                    {
                        "fillAlphas": 1,
                        "id": "AmGraph-1",
                        "title": "graph 1",
                        "type": "column",
                        "valueField": "column-1"
                    }
                ],
                "guides": [],
                "valueAxes": [
                    {
                        "id": "ValueAxis-1",
                        "title": "Cost of the Project"
                    }
                ],
                "allLabels": [],
                "balloon": {},
                "titles": [
                    {
                        "id": "Title-1",
                        "size": 15,
                        "text": "Project's Detail Report - Current Month"
                    }
                ],
                "dataProvider": [
                    {% for project in current_month_project %}
                    {
                        "category": "{{project.name}}",
                        "column-1": {{project.cost_per_hour|multiply:project.time_spent}}
                    },
                    {% endfor %}
                ]
            }
        );
    </script>
    {% endif %}
    
    {% if current_year_project %}
    <!-- amCharts javascript code -->
    <script type="text/javascript">
        AmCharts.makeChart("chartdiv_current_year",
            {
                "type": "serial",
                "categoryField": "category",
                "startDuration": 1,
                "categoryAxis": {
                    "gridPosition": "start"
                },
                "chartCursor": {},
                "chartScrollbar": {},
                "trendLines": [],
                "graphs": [
                    {
                        "fillAlphas": 1,
                        "id": "AmGraph-1",
                        "title": "graph 1",
                        "type": "column",
                        "valueField": "column-1"
                    }
                ],
                "guides": [],
                "valueAxes": [
                    {
                        "id": "ValueAxis-1",
                        "title": "Cost of the Project"
                    }
                ],
                "allLabels": [],
                "balloon": {},
                "titles": [
                    {
                        "id": "Title-1",
                        "size": 15,
                        "text": "Project's Detail Report - Current Year"
                    }
                ],
                "dataProvider": [
                    {% for project in current_year_project %}
                    {
                        "category": "{{project.name}}",
                        "column-1": {{project.cost_per_hour|multiply:project.time_spent}}
                    },
                    {% endfor %}
                ]
            }
        );
    </script>
    {% endif %}
{% endblock extra_script %}